<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="sidenav.mode === 'over'">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
      </button>
      <h1>Cheap Shark</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="mat-elevation-z8">
      <button mat-button class="menu-button">
        <mat-icon>local_offer</mat-icon>
        <span>Deals</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>games</mat-icon>
        <span>Games</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>store</mat-icon>
        <span>Stores</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
        <mat-icon>settings_applications</mat-icon>
        <span>Alerts</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <app-home-page></app-home-page>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>