<mat-card class="game-card mat-elevation-z8" *ngIf="deal">
    <mat-card-header>
      <mat-card-title>{{deal.title}}</mat-card-title>   
    </mat-card-header>
    
    <img mat-card-image class="card-image" src="{{deal.thumb}}" alt="Game thumbnail">
    <hr>
    <mat-card-content>
  
      <p>
  
        Price: {{deal.normalPrice}}
  
      </p>
  
    </mat-card-content>
  
    <mat-card-actions>
  
      <button mat-button>LIKE</button>
  
      <button mat-button>SHARE</button>
  
    </mat-card-actions>
  
  </mat-card>
