mat-card {
    height: 400px;
    width: 400px;
    margin: 25px;
    align-items: center;
    background: gray;
    
    mat-card-title {
        display: flex;
    }
    .card-image {
        width: 100%;
        height: 150px;
    }
}